<launch>
    <arg name="gui" default="true"/> <!--include gazebo?-->


  <!--launch gazebo-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find gazebo_checkers)/world/world_checkers.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!--trick to add fixed frame, in case there is not robot in the world/otherwise comment-->
   <node pkg="tf" type="static_transform_publisher" name="map2frame_0" args="0.0 0.0 0.0 0 0 0 1 map world 100" />
  <!--launch rviz
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_checkers)/rviz/rviz_config.rviz"/>-->

  <!--node that create markers in objects position from gazebo to rviz
  <node pkg="gazebo_checkers" type="rviz_board_publisher.py" name="rviz_board_publisher" />-->

  <!--node to move pieces on board automatically-->

  <node pkg="gazebo_checkers" type="move_checkers.py" name="move_checkers" />

</launch>
